.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.areaForm {
    display: grid;
    min-width: 400px;
    min-height: 400px;
    border: 2px solid gray;
    & > * {
        width: 36px;
        height: 36px;
    }
}
.a000,
.a001,
.a002,
.a003,
.a004,
.a005,
.a006,
.a007,
.a008,
.a009,
.a010,
.a011,
.a012,
.a013,
.a014,
.a015,
.a016,
.a017,
.a018,
.a019,
.a020,
.a021,
.a022,
.a023,
.a024,
.a025,
.a026,
.a027,
.a028,
.a029,
.a030,
.a031,
.a032,
.a033,
.a034,
.a035,
.a036,
.a037,
.a038,
.a039,
.a040,
.a041,
.a042,
.a043,
.a044,
.a045,
.a046,
.a047,
.a048,
.a049,
.a050,
.a051,
.a052,
.a053,
.a054,
.a055,
.a056,
.a057,
.a058,
.a059,
.a060,
.a061,
.a062,
.a063,
.a064,
.a065,
.a066,
.a067,
.a068,
.a069,
.a070,
.a071,
.a072,
.a073,
.a074,
.a075,
.a076,
.a077,
.a078,
.a079,
.a080,
.a081,
.a082,
.a083,
.a084,
.a085,
.a086,
.a087,
.a088,
.a089,
.a090,
.a091,
.a092,
.a093,
.a094,
.a095,
.a096,
.a097,
.a098,
.a099 {
    background-color: hotpink;
}
.b000,
.b001,
.b002,
.b003,
.b004,
.b005,
.b006,
.b007,
.b008,
.b009,
.b010,
.b011,
.b012,
.b013,
.b014,
.b015,
.b016,
.b017,
.b018,
.b019,
.b020,
.b021,
.b022,
.b023,
.b024,
.b025,
.b026,
.b027,
.b028,
.b029,
.b030,
.b031,
.b032,
.b033,
.b034,
.b035,
.b036,
.b037,
.b038,
.b039,
.b040,
.b041,
.b042,
.b043,
.b044,
.b045,
.b046,
.b047,
.b048,
.b049,
.b050,
.b051,
.b052,
.b053,
.b054,
.b055,
.b056,
.b057,
.b058,
.b059,
.b060,
.b061,
.b062,
.b063,
.b064,
.b065,
.b066,
.b067,
.b068,
.b069,
.b070,
.b071,
.b072,
.b073,
.b074,
.b075,
.b076,
.b077,
.b078,
.b079,
.b080,
.b081,
.b082,
.b083,
.b084,
.b085,
.b086,
.b087,
.b088,
.b089,
.b090,
.b091,
.b092,
.b093,
.b094,
.b095,
.b096,
.b097,
.b098,
.b099 {
    background-color: rgb(38, 107, 211);
    &:hover {
        background-color: hotpink;
    }
}