@import 'styles/globals';
.root {
    display: grid;
    @include respond-to(sm) {
        grid-template-columns: 120px max-content;
    }
}
.list {
    padding-top: 15px;
}
.building {
    padding: 15px;
}
